body{
    background-color: rgb(43, 42, 42);
}
.section{
background-color: rgb(49, 44, 44);
margin-left: 460px;
margin-top: 40px;
width: 350px;
}
.bi-x-square{
    color: white;
    margin-left: 320px;
    
}

.signup{
    width: 350px;
    
}
.content{
    color: white;
margin-top: 17px;
margin-left: 35px;
background-color: rgba(0, 0, 0, 0);
border: 1px solid rgb(203, 203, 203);
width: 270px;
height: 30px;
text-align: 30px;
border-radius: 3px;
}
.head-sign{
color: white;
margin-left: 35px;
font-weight: bold;
font-size: 19px;
font-family: Arial, Helvetica, sans-serif;
}

.login{
 color: rgb(217, 217, 217);
 margin-left: 35px;
 margin-top: -10px;
}
.signup-button{
    width: 275px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 35px;
    border-radius: 3px;

}
h5{
    
    text-align: center;
    position: relative;
  

}
h5::before{
    content: "";
    height: 1px;
    width: 7vw;
    background-color: rgb(120, 120, 120);
    position: absolute;
    top:50%;
    right: 40px;

}
h5::after{
    content: "";
    height: 1px;
    width: 7vw;
    background-color: rgb(120, 120, 120);
    position: absolute;
    top:50%;
    left: 36px;

}
span{
  
    color: white;
    padding:0 20px ;
}
.social-button{
margin-left: 20px;

}
.button-content{
    margin-left: 14px;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 1px;
    width: 80px;
    height: 25px;

}
